
  /* card */
  .card-container {
        position:relative;
      width: 11.4rem;
      height: 16rem;
      border-radius: 0.2rem;
      display: inline-block;
      margin: 0 2rem;
      box-shadow: 2px 2px 79px -44px var(--box-shadow-black-color);
}

.card-image img {
      position: relative;
      width: 14.4rem;
      height: 12rem;
      border-top-right-radius: 0.2rem;
      border-top-left-radius: 0.2rem;
}
.card-title{
      margin-left: 0.4rem;
}
.video-duration{
      position: absolute;
      top: 9.2rem;
      font-size: 0.7rem;
      right: -2.5rem;
      background-color: #1e1d1d;
      border-radius: 5px;
      width: 1.6rem;
}
.fa-ellipsis-vertical{
      font-size: 1.3rem;
}
.card-details{
width: 14.4rem;
height: 4rem;
background-color: var(--black-color);
font-size: 0.7rem;
font-weight: 900;
}
.thumbnail-image-div img{
      width: 2rem;
}
.title-cont{
      display: flex;
      justify-content: space-between;
}
.card-description-cont{
      font-size: 0.6rem;
      text-align: center;
      color: var(--card-des-color);
      height: 4rem;
}