
 .home-image-cont {
 
      width: 100%;
      height: 35rem;
  }
  .home-image-cont img {
    width: 100%;
   height: fit-content;
    
  }
  
  .brand-container{
      position: relative;
  }
  
  .navbar-cont .link{
      text-decoration: none;
      color: var(--secondary-color);
  }
  .explore-button-cont button{
      position: absolute;
      bottom: 10rem;
      right: 16rem;
      border: none;
      padding: 0.8rem;
      width: 7.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--primary-color);
      border-radius: 2rem;
  }

 