.name-of-site{
    position: absolute;
    top: 1rem;
    left: 2rem;
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
}

.navbar-cont{
      position:absolute;
       display: flex;
       gap: 3rem;
       top: 2rem;
       right: 6rem;
       font-weight: 600;
   }
   .navbar-brand-cont{
       display: flex;
       align-items: center;
       justify-content: space-around;
       height: 4rem;
   }
.search-icon{
    color: var(--secondary-color);
}
.searchbar-cont input{
  border: none;
  width: 20rem;
  padding: 0.2rem;
  position: absolute;
  top: 2rem;
  left: 25rem;
}