
.signup-container{
      margin: auto;
      height: 25rem;
      margin-top: 5rem;
      width: 25rem;
      border-radius: 0.2rem;
      background-color:var(--primary-color);
      padding: 1rem;
      box-shadow: 2px 2px 79px -44px var(--box-shadow-black-color);
}
.signup-heading{
      text-align: center;
}
.signup-details-cont input{
display: flex;
flex-direction: column;
margin: 1rem;
padding: 0.5rem;
width: 20rem;
border: none;
border-radius: 2rem;
}

.signup-btn button{
      text-decoration: none;
      border: none;
      padding: 0.5rem;
      width: 100%;
      color: var(--primary-color);
      font-size: 1rem;
      font-weight: 600;
}
.already-have-account {    
margin: 1rem;
}
.login-link{
      color: var(--secondary-color);
}
.signup-btn{
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      color: var(--primary-color);
      font-weight: 900;
}