@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&family=Poppins:wght@100;300;400&family=Recursive:wght@600&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
 --primary-color:#125B50;
 --secondary-color: #F5F5F5;
 --black-color:#000000;
 --time-duration-color:#8f8b8b;
 --card-des-color:#808080;
 --card-bg-color:#f5f5dc;
 --red-color:#ff0000;
}
/* iframe {
  pointer-events: none;
} */
